* { box-sizing: border-box; }

.grid {

  max-width: 1200px;
  position: relative;
  top: 100px;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */



.grid-sizer,
.grid-item {
  width: 33%;
}

.grid-item {
  height: 320px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin: 2px;
}

.grid-item--width2 { width:  40%; }
.grid-item--width3 { width:  60%; }

.grid-item--height2 { height: 400px; }
.grid-item--height3 { height: 460px; }
.grid-item--height4 { height: 560px; }



@media screen and (max-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer .grid-item { width: 100%; }
}


/*.grid .inner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    background: #4AD4C2;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.grid .inner .overlay h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #FDFC96;
    font-family: '', sans-serif;
    font-size: 42px;
    line-height: 52px;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.grid .inner .overlay h2 span {
   display: inline-block
}

.grid .inner:hover .overlay {
    opacity: 1
}

.grid .inner:hover .overlay h2 {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.grid .inner:hover .overlay h2 span.thrill {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}

.grid .inner:hover .overlay h2 span {
    -webkit-animation-name: falldown;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease;
    animation-name: falldown;
    animation-duration: 0.3s;
    animation-timing-function: ease
}*/












